<div class="" data-ng-controller="EditTemplateController">
	<div class="row">

	 	<h1>Template Overview</h1>

	 	<label for="">Type</label>
		<input type="text" class="form-control" placeholder="" ng-model="templateType" name="">

	 	<label for="">Name</label>
		<input type="text" class="form-control" placeholder="" ng-model="templateName" name="">

		<label for="">Source</label>
		<textarea ng-model="templateSource"></textarea>


	 	<a href="#" ng-click="save()">save</a>
	 	<a href="#" ng-click="cancel()">cancel</a>
	</div>
</div>
