<div class="" data-ng-controller="EmailModuleEditController"  layout="column" flex="100">

		<md-toolbar class="md-table-toolbar md-default">
			<div class="md-toolbar-tools">
				<span>EmailModule</span>
			</div>
		</md-toolbar>  
	<md-content layout-padding>
		<md-list data-ng-show="errorMsgs || xmlErrorMsgs">
			<md-list-item class="md-2-line md-warn" ng-repeat="error in errorMsgs">
			<md-icon>error</md-icon>
			<div class="md-list-item-text md-warn">
				<h3> {{ error.param }} </h3>
				<p> {{ error.msg.code }} {{ error.msg.msg }} </p>
			</div>
			</md-list-item>
			<md-list-item class="md-2-line md-warn" ng-repeat="error in xmlErrorMsgs">
			<md-icon>error</md-icon>
			<div class="md-list-item-text md-warn">
				<h3> {{ error.param }} </h3>
				<p> {{ error.msg.code }} {{ error.msg.msg }} </p>
			</div>
			</md-list-item>
		</md-list>

		<div layout-gt-xs="row">
			<md-input-container class="md-block" flex-gt-xs>
				<label>Name</label>
				<input ng-model="module.name">
			</md-input-container>

			<md-input-container class="md-block" flex-gt-xs>
				<label for="type">Type</label>
				<md-select ng-model="module.type">
					<md-option ng-repeat="type in availableTypes" value="{{type._id}}">
						{{type.name}}
					</md-option>
				</md-select>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-xs>
				<label for="">defaultNumberOfEntries <!--=  {{module.defaultNumberOfEntries}}--></label>
				<md-select ng-model="selecteddefaultNumberOfEntries">
					<md-option ng-repeat="noentries in numberOfEntries" value="{{noentries._id}}">
						{{noentries.name}}
					</md-option>
				</md-select>
			</md-input-container>	
		</div>

		<div layout-gt-xs="row" ng-if="module.type == '1' || module.type == '2'">
			<md-input-container class="md-block" flex-gt-xs>
				<label for="defaultURL">default URL</label>
				<input type="text" class="form-control" placeholder="" ng-model="module.defaultURL" name="defaultURL">
			</md-input-container>
		</div>

		<div layout-gt-xs="row">
			<md-input-container class="md-block" flex-gt-xs>
				<label>created: </label>
				<textarea disabled>{{module.createdBy}} / {{module.createdAt | date:'dd.MM.yyyy HH:mm'}}</textarea>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-xs>
				<label>updated:</label>
				<textarea disabled> {{module.updatedBy}} / {{module.updatedAt | date:'dd.MM.yyyy HH:mm'}}</textarea>
			</md-input-container>
		</div>
		<div layout-gt-xs="row">
			<div flex>
			<span class="">before body</span>
			<!--<textarea ng-model="module.preBody"></textarea><br/>-->
			<div ui-ace="{
			useWrapMode : true,
			showGutter: true,
			theme:'github',
			mode: 'html',
			firstLineNumber: 1,
			vscroll: true
				}" ng-model="module.preBody"></div>
			</div>
		</div>
		<div layout-gt-xs="row">
			<h2>Views</h2>
		</div>
		
		<div layout-gt-xs="row">
			<md-button ng-click="addView()" class="md-raised md-accent">
				<md-icon class="material-icons md-light md-48">add</md-icon>add View
			</md-button>
		</div>
		<div layout-gt-xs="row" data-ng-repeat="view in module.views" flex-offset="5">
		<div layout-gt-xs="column" flex>
			<md-card>
			<md-card-title>
				<div flex="5">
					{{$index + 1}} <!--// {{view._id}}-->
				</div>
				<div flex>			
					<label for="view_name_{{$index}}" >name</label>
					<input type="text" id="view_name_{{$index}}" name="view_name_{{$index}}" ng-model="view.name" class="form-control" >			
				</div>
				<div flex>			
					<!-- <md-checkbox name="defaultView" ng-model="view.isDefault" value="true" ng-click="clickCheckbox($index)"> -->
					<md-checkbox name="defaultView" ng-model="view.isDefault" ng-click="clickCheckbox($index)">
						default
					</md-checkbox>
				</div>
			</md-card-title>
			<md-card-content>
				<div flex>
				<label for="view_source_{{$index}}">source</label>
				<!--<textarea  id="view_name_{{$index}}" name="view_name_{{$index}}"  ng-model="view.source"></textarea>-->
				<div ui-ace="{
					useWrapMode : true,
					showGutter: true,
					theme:'github',
					mode: 'html',
					firstLineNumber: 1,
					vscroll: true
						}" ng-model="view.source" class="form-control"></div>
		
					<div class="alert alert-warning alert-dismissible" role="alert" data-ng-repeat="error in viewWarningMessages[$index]">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>{{error.param}}</strong> {{error.msg}} 
					</div>
					<span ng-show="module.type==2">
					available xml variables: <span data-ng-repeat="var in module.xmlVariables">{{var.label}} </span> 
					<br/>
					</span>
					custom variables: <span data-ng-repeat="var in view.variables">{{var.label}} </span> <br/>
					childTagName: {{view.childTagName}}
				</div>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="removeView($index)" class="md-raised md-warn"><md-icon class="material-icons md-light md-48">delete_forever</md-icon> remove</md-button>		
				<md-button ng-click="parse($index)" class="md-raised"><md-icon class="material-icons md-light md-48">gesture</md-icon> parse</md-button>
			</md-card-actions>
		</div>
		</div>
		
		<div layout-gt-xs="row">
			<div flex>
			after body
			<!--<textarea ng-model="module.postBody"></textarea><br/>-->
			<div ui-ace="{
				useWrapMode : true,
				showGutter: true,
				theme:'github',
				mode: 'html',
				firstLineNumber: 1,
				vscroll: true
					}" ng-model="module.postBody"></div>

			custom body variables: <span data-ng-repeat="var in module.bodyVariables">{{var.label}} </span> <br/>
			</div>
		</div>
		<div layout-gt-xs="row">
			<h2>Ads</h2>
		</div>
		<div layout-gt-xs="row">	
			<md-input-container class="md-block" flex-gt-xs>
				<md-button ng-click="addAd()" class="md-raised md-accent"><md-icon class="material-icons md-light md-48">add</md-icon>add Ad</md-button>
			</md-input-container>
		</div>
		<div layout-gt-xs="row" data-ng-repeat="ad in module.ads">
			<md-input-container class="md-block" flex-gt-xs>
			<h3>{{$index + 1}}</h3>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label for="ad_pos_{{$index}}" >pos</label>
				<input type="text" id="ad_pos_{{$index}}" name="ad_pos_{{$index}}" ng-model="ad.pos" class="form-control" >
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label for="ad_img_{{$index}}" >Image</label>
				<input type="text" id="ad_img_{{$index}}" name="ad_img_{{$index}}" ng-model="ad.img" class="form-control" >
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label for="ad_link_{{$index}}" >Link</label>
				<input type="text" id="ad_link_{{$index}}" name="ad_link_{{$index}}" ng-model="ad.link" class="form-control" >
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<md-button ng-click="removeAd($index)" class="md-raised"><md-icon class="material-icons md-light md-48">delete_forever</md-icon> remove</md-button>
			</md-input-container>
		</div>
		<div layout-gt-xs="row" data-ng-repeat="view in module.adViews">
			<div flex>
				ad template
				<!--<textarea  id="view_name_{{$index}}" name="view_name_{{$index}}"  ng-model="view.source"></textarea>-->
				<div ui-ace="{
					useWrapMode : true,
					showGutter: true,
					theme:'github',
					mode: 'html',
					firstLineNumber: 1,
					vscroll: true
						}" ng-model="view.source" class="form-control"></div>
				<div>
					<div class="alert alert-warning alert-dismissible" role="alert" data-ng-repeat="error in adWarningMessages[$index]">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>{{error.param}}</strong> {{error.msg}} 
					</div>
				</div>
			</div>
		</div>
		<div layout-gt-xs="row">
			<label>all custom body variables:</label>
		</div>
		<div layout-gt-xs="row" data-ng-repeat="var in module.bodyVariables">
			<md-input-container class="md-block" flex-gt-xs>
				<label>{{var.name}} </label>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label for="defaultValue_$index">default Value</label>
				<input type="text" ng-model="var.defaultValue" name="defaultValue_$index">
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label>fieldType</label>
				<md-select ng-model="var.fieldType">
					<md-option ng-repeat="type in availableFieldTypes" value="{{type._id}}">
						{{type.name}}
					</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs data-ng-if="!var.inUse">	
				<md-button ng-click="removeBodyVariable(var.name)" class="md-raised"><md-icon class="material-icons md-light md-48">delete_forever</md-icon> remove</md-button>		
			</md-input-container>
		</div>
		<div layout-gt-xs="row">
			<label>all custom view variables:</label>
		</div>
		<div layout-gt-xs="row" data-ng-repeat="var in module.variables">
			<md-input-container class="md-block" flex-gt-xs>
				<label>{{var.name}} </label>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label for="defaultValue_$index">default Value</label>
				<input type="text" ng-model="var.defaultValue" name="defaultValue_$index">
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label>fieldType</label>
				<md-select ng-model="var.fieldType">
					<md-option ng-repeat="type in availableFieldTypes" value="{{type._id}}">
						{{type.name}}
					</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs data-ng-if="!var.inUse">
				<button type="button" class="btn btn-primary btn-sm" ng-click="removeVariable(var.name)">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> remove
				</button>
			</md-input-container>
		</div>
		<div layout-gt-xs="row">
			<label>childTagName: {{module.childTagName}}</label>
		</div>
	
		<div layout-gt-xs="row">
			<md-button ng-click="parseAll()" class="md-raised"><md-icon class="material-icons md-light md-48">gesture</md-icon> parse</md-button>
			<md-button data-ng-if="!moduleExsists && !saveInProgress"  ng-click="save()" class="md-raised md-primary"><md-icon class="material-icons md-light md-48">save</md-icon> save</md-button>
			<md-button data-ng-if="moduleExsists && !saveInProgress"  ng-click="save()" class="md-raised md-primary"><md-icon class="material-icons md-light md-48">save</md-icon> update</md-button>
			<md-button data-ng-if="saveInProgress" class="md-raised md-primary">Loading... </md-button>
		</div>
		<div layout-gt-xs="row">
			<md-progress-linear data-ng-if="saveInProgress"  md-mode="indeterminate"></md-progress-linear>
		</div>
	</md-content>
</div>