<div class="" data-ng-controller="EmailModuleOverviewController" flex="100">
	<md-toolbar class="md-table-toolbar md-default">
    	<div class="md-toolbar-tools">
      	<span>EmailModules</span>
    	</div>
  	</md-toolbar>  
	<md-list data-ng-show="errors">
    <md-list-item class="md-2-line md-warn" ng-repeat="error in errorMsgs">
      <md-icon>error</md-icon>
      <div class="md-list-item-text md-warn">
        <h3> {{ error.param }} </h3>
        <p> {{ error.msg.code }} {{ error.msg.msg }} </p>
      </div>
    </md-list-item>
  </md-list>
  <md-table-container>
  <table md-table md-row-select="false" multiple ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column ><span> name</span></th>
        <th md-column>createdBy</th>
        <th md-column>createdAt</th>
        <th md-column>updated by</th>
        <th md-column>updated at</th>
        <th md-column>status</th>
        <th md-column>edit</th>
        <th md-column>clone</th>
        <th md-column>delete</th>
     
     
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="module in modules">
        <td md-cell>{{module.name}}</td>
        <td md-cell>{{module.createdBy}}</td>
        <td md-cell>{{module.createdAt | date:'dd.MM.yyyy HH:mm'}}</td>
        <td md-cell>{{module.updatedBy}}</td>
        <td md-cell>{{module.updatedAt | date:'dd.MM.yyyy HH:mm'}}</td>
        <td md-cell>{{module.currentStatus}}</td>
		<td md-cell>
			<md-button class="md-icon-button" aria-label="Edit" ng-href="/{{company}}/emaileditor/module/edit/{{module._id}}">
          <md-icon class="material-icons md-light md-48">edit</md-icon>
      </md-button>
		</td>
		<td md-cell>
			<md-button class="md-icon-button" aria-label="Delete" ng-click="cloneEntity(module._id)">
      		<md-icon class="material-icons md-light md-48">content_copy</md-icon>
      </md-button>
		</td> 
		<td md-cell>
			<md-button class="md-icon-button" aria-label="Delete" ng-click="open($event, module)">
      		<md-icon class="material-icons md-light md-48">delete_forever</md-icon>
      </md-button>
		</td> 
      </tr>
    </tbody>
  </table>
  <md-button ng-click="createModule()" class="md-raised"><md-icon class="material-icons md-light md-48">add</md-icon>Create Module</md-button>

  <md-progress-linear data-ng-if="loading" md-mode="indeterminate"></md-progress-linear>
</md-table-container>
</div>